*,
*::after,
*::before{
    margin: 0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
}
body{
    font-size: 1.6rem;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
    color: darkgray;
}
.nav{
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 8vh;
    background: rgb(8, 113, 96);
}
.nav brand{
    text-transform: uppercase;
    font-weight: bold;

}
/* .nav_menu{
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 3rem;
}

.nav_menu {
    display: block;
} */

.nav_menu {
    display: none;
}

/* Estilos para mostrar o menu dropdown em telas menores */
@media (max-width: 768px) {
    .nav_menu {
        display: block;
    }

    .nav_item.dropdown > .nav_link::after {
        content: '\25BE'; /* Símbolo de seta para baixo para indicar dropdown */
        margin-left: 5px;
    }

    .dropdown_menu {
        display: none;
    }

    .nav_item.dropdown:hover .dropdown_menu {
        display: block;
    }
}